#frm-registro{
    width: 40%;
}
#frm-registro .fila{
   display: flex; 
   flex-direction: row;
   justify-content: space-between;
}
#frm-registro .fila .Columna {
    display: flex;
    flex-direction: column;
    width: 45%;

}


